@font-face {
    font-family: 'Onest';
    src: url(/src/assets/fonts/Onest-Bold.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Onest';
    src: url(/src/assets/fonts/Onest-Medium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Onest';
    src: url(/src/assets/fonts/Onest-Regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Onest';
    src: url(/src/assets/fonts/Onest-Light.woff) format('woff');
    font-weight: 300;
}