.f1 {
  font-family: 'Onest';
  font-weight: 300;
}
.f2 {
  font-family: 'Onest';
  font-weight: 400;
  
}
.f3 {
  font-family: 'Onest';
  font-weight: 500;
  
}
.f4 {
  font-family: 'Onest';
  font-weight: 700;
  
}